<h1>Listing zutats</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Rezept</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zutats.each do |zutat| %>
  <tr>
    <td><%= zutat.text %></td>
    <td><%= zutat.rezept_id %></td>
    <td><%= link_to 'Show', zutat %></td>
    <td><%= link_to 'Edit', edit_zutat_path(zutat) %></td>
    <td><%= link_to 'Destroy', zutat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zutat', new_zutat_path %>
