<h1>Listing bewertungs</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Rezept</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bewertungs.each do |bewertung| %>
  <tr>
    <td><%= bewertung.text %></td>
    <td><%= bewertung.rezept_id %></td>
    <td><%= link_to 'Show', bewertung %></td>
    <td><%= link_to 'Edit', edit_bewertung_path(bewertung) %></td>
    <td><%= link_to 'Destroy', bewertung, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bewertung', new_bewertung_path %>
